@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground:white;
  --background: #212121;
  --font-elevon-two-g: 'ElevonTwoG', sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-elevon-two-g);
}

.font-elevon {
  font-family: var(--font-elevon-two-g);
}
